{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Yummy Recipes

{% endblock %}


{% block content %}

     <section id="recipes">

            {% for recipe in recipes %}

                <article class="recipe">
                    <img src="/static/images/{{ recipe.image_file }}">

                    <h2>{{ recipe.name }}</h2>

                    <p>Read the recipe...</p>
                
                </article>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>



        

    </section>

{% endblock %}

