{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Yummy Recipes

{% endblock %}


{% block header %}

    <header>
        
         <h1>Great Recipe Ideas</h1>

        <p class="about">Welcome! You can find lots of delicious recipe ideas here. Some will be easy and fast, some are more complicated and for special occasions. You can choose between sweets and whole meals, but you can be sure that everything will taste great</p>
    </header>

{% endblock %}


{% block content %}

     <section id="recipes">

            {% for recipe in recipes %}

                <article class="recipe">
                    <img src="/static/images/{{ recipe.image_file }}">

                    <h2>{{ recipe.name }}</h2>

                    <p><a href="/recipe/{{ recipe.id }}">Read the recipe...</a></p>
                
                </article>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>



        

    </section>

{% endblock %}

