{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    New Recipe

{% endblock %}


{% block content %}

  <article class="recipe wide">
    <h2>New Recipe</h2>
    
    <form method="POST" action="/recipe/new" enctype="multipart/form-data">
      <fieldset>

        <label>
          Recipe Name
          <input name="name" placeholder="Recipe Name" required>
        </label>

        <label>
          Ingredients
          <textarea name="ingredients" rows="4" cols="50" placeholder="Add the ingredients and the amount needed, one per line" required></textarea>
        </label>

        <label>
          Instructions
          <textarea name="instructions" rows="4" cols="50" placeholder="Add the instructions in the correct order, one per line" required></textarea>
        </label>
    
        <label>
          Recipe Image
          <input name="image_file" type="file" placeholder="Recipe Image Filename" required>
        </label>

      </fieldset>

      <input 
        type="submit" 
        value="Add"
      />
    </form>
  </article>


    <a role="button" href="/">Back to Recipe List</a>

{% endblock %}

