{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    New Recipe

{% endblock %}


{% block content %}

  <article class="recipe wide">
        <h2>New Recipe</h2>

        https://www.w3schools.com/html/html_forms.asp
        https://www.w3schools.com/html/tryit.asp?filename=tryhtml_form_text
        https://www.w3schools.com/tags/tag_textarea.asp
        https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_textarea
        https://picocss.com/docs/forms
  </article>


    <a role="button" href="/">Back to Recipe List</a>

{% endblock %}

