{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    {{ recipe.name }}

{% endblock %}


{% block content %}

<article class="recipe wide">
<img src="/static/uploads/{{ recipe.image_file }}">

        <h2>Ingredients</h2>

        <ul>
          <li>{{ recipe.ingredients | replace('\n\nor\n\n', '</li></ul><p>or</p><ul><li>')  | replace('\n', '</li><li>') | safe }}</li>
        </ul>

        <h2>Instructions</h2>
        <ol>
        <li>{{ recipe.instructions | replace('\n\nor\n\n', '</li></ol><p>or</p><ol><li>')  | replace('\n', '</li><li>') | safe }}</li>
        </ol>
        
    </article>


    <a role="button" href="/">Back to Recipe List</a>

{% endblock %}

