{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    New Recipe

{% endblock %}


{% block content %}

  <article class="recipe wide">
        <h2>New Recipe</h2>
    <form>
      <fieldset>
        <label>
          Recipe Name
          <input
            name="recipe_name"
            placeholder="Recipe Name"
            autocomplete="recipe-name"
          />
        </label>
      </fieldset>
    </form>

    <form action="/action_page.php">
      <p>
        <label for="w3review">
          Ingredients
        </label>
      </p>
      <textarea id="w3review" name="w3review" rows="4" cols="50">Add the ingredients and the amount needed</textarea>
      <br>

      <p>
        <label for="w3review">
          Instructions
        </label>
      </p>
      <textarea id="w3review" name="w3review" rows="4" cols="50">Add the instructions in the correct order</textarea>
      <br>

      <input 
        type="submit" 
        value="Add"
      />
    </form>
  </article>


    <a role="button" href="/">Back to Recipe List</a>

{% endblock %}

